.Wrapper {
    display: grid;

    grid-template-rows: 1fr 500px 4fr;

    grid-column-gap: 20px;

    border: solid;

}


.box:nth-child(2) {
    background-color: yellowgreen;
}

.box:nth-child(3) {
    background-color: royalblue;
}

.box:nth-child(1) {

    font-size: 12px;
    border-color: salmon;
    background-color: #523737;
    display: flex;
    justify-content: space-between;

}


.fa {
    color: seashell;
}




.column:nth-child(2) {

    text-align: center;
    color: seashell;
}